/*/
*history
*.log
.git-credentials
.gitconfig
.gehbg
.viminfo
.wpm.csv
.steampid
.steampath
.fehbg
.xscreensaver
.wget-hsts
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o

.smb*

Play*
.bash_logout
.bashrc
.lesshst
.odbc.ini
.profile
.pulse-cookie
.yarnrc
.zcomp*
.Xauthority
.xsession-errors

.config/vifm/vifminfo
.ICEauthority
.bash_profile
.fzf*
.nvimlog
.zshrc.pre*
.esd_auth
